/presedencia_opreradores/nbproject/private/
/precedencia_opreadores/nbproject/private/
/precedencia_opreadores/build/
/precedencia_operadores/nbproject/private/
/precedencia_operadores/build/
/Metodos/nbproject/private/
/Metodos/build/
/JavaApplication23/nbproject/private/
/practica/nbproject/private/
/practica/build/
/Practica_Metodos/nbproject/private/
/MetodoConRetornoConParametros/nbproject/private/
/Metodo/nbproject/private/
/Metodo1/nbproject/private/
/Operadores_Logicos/nbproject/private/
/Operadores_Logicos/build/